@import '@common/styles/variables.scss';

.wrapper {
  background-color: $pureWhite;
  color: $charcoal;
  font-size: 40px;
  padding: 32px;
  width: 480px;
  margin-top: 100px;
}

.links {
  display: flex;
  font-size: 14px;
  justify-content: space-around;
  margin-top: 32px;

  a {
    color: $lightGrey;
  }
}
