@import '@common/styles/variables.scss';

.wrapper {
  padding: 10px 0;
}

.tab {
  color: $grey;
  cursor: pointer;
  font-size: 12px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }

  &.isActive {
    color: $black;
  }
}
