@import '@common/styles/variables.scss';

.createButton {
  align-items: center;
  background-color: $charcoal;
  border-radius: 100%;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  font-size: 25px;
  height: 40px;
  justify-content: center;
  padding: 20px;
  width: 40px;
}
