@import '@common/styles/variables.scss';

.btn {
  align-items: center;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  line-height: 20px;
  outline: none;
  overflow: hidden;
  padding: 10px 14px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  z-index: 1;

  &:global(.primary) {
    background-color: $limeGreen;
    color: $white;

    &:hover {
      background-color: $limeGreenHover;
    }

    &:global(.isDisabled) {
      background-color: $limeGreen;
      color: $white;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &:global(.secondary) {
    background-color: $lightGrey;
    border: 1px solid $lightGrey;
    color: $darkGreyText;

    &:hover {
      background-color: $charcoal;
    }
  }

  &:global(.tertiary) {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: $redHover;
    }
  }

  &:global(.big) {
    height: 57px;
    padding: 0;
    width: 240px;
  }

  &:global(.small) {
    height: 32px;
    padding: 0;
    width: 100px;
  }
}
