@import '@common/styles/variables.scss';

.formHeaderWrapper {
  margin-bottom: 40px;
}

.title {
  font-size: 28px;
  padding: 10px 0;
  color: $charcoal;
}

.subtitle {
  font-size: 18px;
  color: $grey;
}
