@import '@common/styles/variables.scss';

.formHeaderWrapper {
  margin-bottom: 40px;
}

.title {
  color: $charcoal;
  font-size: 28px;
  padding: 10px 0;
}

.subtitle {
  color: $grey;
  font-size: 18px;
}
