@import '@common/styles/variables.scss';

.wrapper {
  align-items: center;
  background-color: $pureWhite;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.108696);
  display: flex;
  height: 300px;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}
