@import '@common/styles/variables.scss';

.formItemWrapper {
  margin: 0 0 30px;
}

.loginFormItem {
  position: relative;
  border-bottom: 1px solid $lightGrey;
  padding: 8px 20px 8px 0;

  input {
    background: none;
    outline: none;
    border: none;
    color: $lightGrey;
    width: 100%;
    font-size: 14px;
    vertical-align: text-bottom;
  }

  input::placeholder {
    color: $lightGrey;
    opacity: 1;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px $white inset;
    -webkit-text-fill-color: $black;
    caret-color: $black;
  }

  input[type='date']::-webkit-calendar-picker-indicator,
  input[type='time']::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    filter: brightness(70%);
    font-size: 15px;
    padding: 0;
  }
}

.icon {
  position: absolute;
  right: 0;

  &:global(.isClickable) {
    cursor: pointer;
  }

  svg {
    fill: $lightGrey;
  }
}

.errorMessage {
  position: absolute;
  left: 0;
  top: 100%;
  width: fit-content;
  z-index: 999;
  margin-top: 0;
  font-size: 11px;
  padding: 7px 0;
  color: $red;
}
