@font-face {
  font-display: swap;
  font-family: 'PlayfairDisplay-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('tff');
}

@font-face {
  font-display: swap;
  font-family: 'Hind';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Hind/Hind-Regular.ttf') format('tff');
}
