@import '@common/styles/variables.scss';

.wrapper {
  align-items: center;
  background-color: $white;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.close {
  color: $charcoal;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  right: 40px;
  top: 40px;
}
