// fonts
$primaryFontFamily: -apple-system, 'Helvetica', Arial, sans-serif;

// colors
$white: #fff;
$black: #000;
$blue: #323c46;
$limeGreen: #1be38b;
$limeGreenHover: #20bd78;
$red: #ff4081;
$redHover: #e73370;
$grey: #949ea8;
$lightGrey: #c9ced3;
$buttonGrey: #d9dce1;
$buttonGreyHover: #c4c9d1;
$greyText: #a9aeb4;
