@import '/packages/common/styles/variables.scss';

.sidebarWrapper {
  background: url('/images/gangwar.png');
  background-color: $blue;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 0 0 400px;
  height: 100vh;
  position: relative;
}

.quoteBlock {
  bottom: 0;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: center;
  padding: 10px 50px 148px;
  position: absolute;
  width: 100%;

  .quote {
    font-family: PlayfairDisplay-Regular;
    font-size: 36px;
    text-align: center;
  }

  rect {
    border: 1px solid $limeGreen;
    fill: $limeGreen;
    margin: 20px auto;
    width: 12px;
  }

  .quotePerson {
    color: $grey;
    display: flex;
    justify-content: center;
  }
}
